# maven ignore
target/
*.versionsBackup

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
/temp
/tmp
app.jar

# system ignore
.DS_Store
Thumbs.db

gitlabci/.generated
/cm-spring-cloud/cm-cloud-eureka/src/main/resources/rebel.xml
/cm-spring-cloud/cm-cloud-eureka/.rebel.xml.bak
/cm-spring-cloud/cm-cloud-eureka/.rebel-remote.xml.bak
/cm-spring-cloud/cm-cloud-eureka-server/.rebel.xml.bak
/cm-spring-cloud/cm-cloud-eureka-server/.rebel-remote.xml.bak
/cm-spring-cloud/cm-cloud-eureka-server/src/main/resources/rebel.xml
